Repository CSC4790-Fall2023-Org/senior-project-middle-management, pull requests merged in 2023-11, with the labels that each got.

#236 get-shifts-bug
  src/main/java/com/ems/Utils/ValidationUtils.java
Labels: bug

#242 Update employee
  src/main/java/com/ems/Utils/EmployeeUtils.java
  src/main/java/com/ems/Utils/JsonUtils.java
  src/main/java/com/ems/Utils/ValidationUtils.java
  src/main/java/com/ems/controllers/EmployeeController.java
  src/main/java/com/ems/services/EmployeeServices.java
  src/test/java/com/ems/TestFactory/ModelTestFactory.java
  src/test/java/com/ems/UtilsTests/EmployeeUtilsTests.java
Labels: api

#268 status bar animations
  src/main/frontend/components/CustomHeader.js
  src/main/frontend/views/CompanySettingsScreen.js
  src/main/frontend/views/EmployeeSettingsScreen.js
  src/main/frontend/views/LoginScreen.js
  src/main/frontend/views/ManagerSettingsScreen.js
Labels: frontend

#271 Reformat Settings Page
  src/main/frontend/components/ProfileSettingsContainer.js
  src/main/frontend/components/userSettings/EditEmailModal.js
  src/main/frontend/components/userSettings/EditNameModal.js
  src/main/frontend/components/userSettings/EditPhoneNumberModal.js
  src/main/frontend/views/CompanySettingsScreen.js
  src/main/frontend/views/EmployeeSettingsScreen.js
  src/main/frontend/views/ManagerSettingsScreen.js
Labels: frontend

#283 method to get employee list for organization
  src/main/java/com/ems/Utils/JsonUtils.java
  src/main/java/com/ems/Utils/OrganizationUtils.java
  src/main/java/com/ems/Utils/ResponseUtils.java
  src/main/java/com/ems/builders/JSONObjectBuilder.java
  src/main/java/com/ems/controllers/OrganizationController.java
  src/main/java/com/ems/services/OrganizationServices.java
Labels: api

#285 Fix Font Sizing
  src/main/frontend/components/CustomButton.js
  src/main/frontend/components/CustomDashboardHeader.js
  src/main/frontend/components/CustomHeader.js
  src/main/frontend/components/CustomRedirectButton.js
  src/main/frontend/components/EmployeeHrsStatusBar.js
  src/main/frontend/components/ShiftCard.js
  src/main/frontend/components/company-dashboard-components/AddEmployeeBody.js
  src/main/frontend/components/company-dashboard-components/CompanyManagerView.js
  src/main/frontend/components/company-dashboard-components/CompanyManagersDashboard.js
  src/main/frontend/components/company-dashboard-components/CompanyStaffDashboard.js
  src/main/frontend/components/company-dashboard-components/StaffBanner.js
  src/main/frontend/views/AddEmployeePage.js
  src/main/frontend/views/EmployeeScreen.js
  src/main/frontend/views/LoginScreen.js
Labels: frontend

#287 Implement App Name
  src/main/frontend/components/manager-dashboard-components/AddShiftBody.js
  src/main/frontend/views/CompanyScreen.js
  src/main/frontend/views/EmployeeScreen.js
  src/main/frontend/views/LoginScreen.js
  src/main/frontend/views/ManagerScreen.js
Labels: frontend
